/* Searchqp.css */


.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #1f0d0d;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


.back-button{
  height: 50px;
  background-color: #ddd;
  background: #283949;
  margin: 3px;
  padding: 10px 15px;

transition: .3s ease-in;
}

.back-button:hover{

  background: wheat;
}












.searchqp-container {
    padding: 20px 20px;
    

  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    list-style-type: none;
    list-style:none;

    
  
    
  }
  

  input {
    width: 20%;
    padding: 8px;
    font-size: 16px;
    background-color: #ffffff;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px 40px;
    text-align: center;
    text-transform:none;
  list-style: none;
  list-style-type: none;
    background-size: 200% auto;
    color: rgb(21, 6, 6);            
    box-shadow: 0 0 20px #decfcf;
    border-radius: 3px;
    display: block;
  font-weight: bold;



  }

.opti{
  margin: 10px;
    padding: 10px 40px;
    text-align: center;
}


.opti option{
  margin: 10px;
  padding: 10px 40px;
  text-align: center;

}




  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 10px;
  }

  h1,h3{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
  }



.coursecodess{
  

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 

}

.coursecodess button{

  margin: 3px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;

  background-color: #8ab8e6; /* Change this to the desired background color */
  color: #fff; /* Change this to the desired text color */
  transition: background-color .4s ease-in; 

}





.modelbt{
  display: flex;
}


  
  .card {
    position: relative;
    width: 300px;
    border: 1px solid #e5dede;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 10px 20px;
    background-color: rgb(226, 237, 245);
  
    img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ddd;
     
    }
  
    .card-actions {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: #fff;
      
      padding: 5px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      svg {
        color: #333;
        font-size: 20px;
      }
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
  
    &:hover {
      transform: scale(1.05);
    }
  }
  


  /* Searchqp.css */

/* Add this style for the modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    outline: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    background-color: rgba(81, 24, 24, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: relative;
    margin: 10%;
    margin-left: 30%;
    
   
    width: 200%;
    
  }
  

  /* Add this to your existing CSS file or create a new one */
.suggestions-lists {
  width: 20%;
  padding: 8px;
  font-size: 16px;
 

  padding: 0px 40px;
  text-align: center;
  text-transform:none;
list-style: none;
list-style-type: none;
  background-size: 200% auto;
  color: rgb(21, 6, 6);    
  background-color: #f0f0f0;        

  border-radius: 10px;
  display: block;
font-weight: normal;
margin-left: 45%;
margin-top: 0%;


}



.suggestions-listli {
  padding: 1px;
  cursor: pointer;
  border: 2px solid #504141;
  border-radius: 5px;
  list-style-type: none;
  font-size: smaller;
  width: 100%;
  padding: 3px;
  font-size: 10px;
  background-color: #210f0f;
  background-color: rgb(255, 255, 255);

 
  text-align: center;
  text-transform:none;
list-style: none;
list-style-type: none;
  background-size: 200% auto;
  color: rgb(21, 6, 6);  
        

  display: block;
font-weight: normal







}

.suggestions-list li:hover {
  background-color: #341a1a;
}

 
  

  p{
    text-align: left;
    padding: 10px 10px;
    font-weight: 100;
    font-style: italic;
    font-family:'Times New Roman', Times, serif
  }



.inpt{

  background-color: #decfcf;
  background-color: rgb(226, 237, 245);
  margin: 10px;
  padding: 10px 40px;
  text-align: center;
  text-transform:none;
list-style: none;
list-style-type: none;
  background-size: 200% auto;
  color: rgb(21, 6, 6);            
  box-shadow: 0 0 20px #decfcf;
  border-radius: 10px;
  display: block;
font-weight: bold;
}






@media (max-width: 768px) {

  h1,h2{
    font-size: small;
  }



  /* Searchqp.css */

.searchqp-container {
  padding: 10px;
  margin: 10px 10px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  svg {
    margin-right: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
}


.coursecodess{


  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
 

}




.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10% 10%;

  
}

h1,h3{
  font-size:small;
  font-family: 'Times New Roman', Times, serif;
}

.card {
  position: relative;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 10px;

  img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
   
  }

  .card-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    svg {
      color: #333;
      font-size: 20px;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}



/* Searchqp.css */

/* Add this style for the modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(199, 69, 69, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 300%;

  margin: 5%;
    margin-left: 0%;
  
}




p{
  text-align: left;
  padding: 10px 10px;
font-size: small;
  font-style: italic;
  font-family:'Times New Roman', Times, serif
}



.inpt{

background-color: #decfcf;
margin: 10px;
padding: 10px 40px;
text-align: center;
text-transform:none;

background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #decfcf;
border-radius: 10px;
display: block;

}






input {
  width: 100%;
  padding: 2%;
  font-size: 10px;
  background-color: #ffffff;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px 40px;
  text-align: center;
  text-transform:none;
list-style: none;
list-style-type: none;
  background-size: 200% auto;
  color: rgb(21, 6, 6);            
  box-shadow: 0 0 20px #decfcf;
  border-radius: 3px;
  display: block;
font-weight: bold;



}

.opti{
margin: 0px;
  padding: 6px 10px;
  text-align: center;
  width: 0%;
}


.opti option{
margin: 10px;
padding: 10px 40px;
text-align: center;

}


.back-button{
  height: 50px;
  background-color: #ddd;
  background: #283949;
  margin: 3px;
  padding: 10px 15px;
}



  /* Add this to your existing CSS file or create a new one */
  .suggestions-lists {
    width: 60%;
    padding: 8px;
    font-size: 16px;
   
  
    padding: 0px 40px;
    text-align: center;
    text-transform:none;
  list-style: none;
  list-style-type: none;
    background-size: 200% auto;
    color: rgb(21, 6, 6);            
  
    border-radius: 10px;
    display: block;
  font-weight: normal;
  margin-left: 15%;
  margin-top: 3%;
  
  
  }
  
  
  
  .suggestions-listli {
    padding: 1px;
    cursor: pointer;
    border: 2px solid #504141;
    border-radius: 5px;
    list-style-type: none;
    font-size: smaller;
    width: 100%;
    padding: 3px;
    font-size: 10px;
    background-color: #210f0f;
    background-color: rgb(226, 237, 245);
  
   
    text-align: center;
    text-transform:none;
  list-style: none;
  list-style-type: none;
    background-size: 200% auto;
    color: rgb(21, 6, 6);  
          
  
    display: block;
  font-weight: normal
  
  
  }  



}