/* LandingPage.css */

.landing-page {
  text-align: center;
  padding: 20px;
  
 

}

.video{
  height: 200px;
  width: 400px;
}








.landing-page h1{
  font-size: 2em;
}


.landing-page p{
  font-size: 1.5em;
}

.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.feature-description {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.feature-cards {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-card {
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 4px 8px rgba(5, 2, 2, 0.2);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: calc(33.33% - 50px);
  color: #fff;
  transition: transform 0.3s ease-in-out; /* Adding transition for smooth effect */
}

/* Adding hover effect */
.feature-card:hover {
  transform: scale(1.05); /* You can adjust the scale factor for your desired effect */
}









.feature-icon {
  font-size: 2em;
  margin-bottom: 10px;
  animation: bounce 3s ease infinite;
}

.feature-details {
  text-align: left;
}

.feature-card h3 {
  margin: 0;
  font-size: 1.2em;
}

.landing-page p{
  text-align: center;
}

.feature-card p {
  font-size: 1em;
  text-align: justify;
  
}





.colourchangetext {
font-size: 20px;
font-weight: 800;
  background-image: linear-gradient(to right, black, rgb(25, 25, 112), rgb(72, 61, 139), rgb(46, 23, 95), indigo, rgb(114, 55, 114), rgb(25, 25, 112)); /* Define gradient */
  -webkit-background-clip: text; /* Clip text to gradient */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  animation: gradientChange 2s ease; /* Change gradient every 10 seconds */
}

@keyframes gradientChange {
  0% { background-position: 0% 50%; }
  100% { background-position: 70% 50%; }
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}














.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.contact-description {
  flex: 1;
  text-align: left;
  margin-right: 20px;
}

.contact-container ul {
  list-style: none;
  padding: 0;
}

.contact-container li {
  margin-bottom: 10px;
}

.contact-container svg {
  font-size: 1.2em;
  margin-right: 5px;
}

.contact-image {
  flex: 1;
  text-align: right;
}


.lin{
 font-style: italic;

 color: #fff;
}






button  {
  background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
  margin: 3px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;

  background-color: #8ab8e6; /* Change this to the desired background color */
  color: #fff; /* Change this to the desired text color */
  transition: background-color .4s ease-in; 


}
button:active {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  background:#3f1761;
}


button:hover{
  cursor: pointer;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
 
.landing-page {
  text-align: center;
 margin-top: 0px;

}

.feature-container {
display: flex;
width: 100%;
margin: 3% 2%;


}




.video{
  height: 100px;
  width: 150px;
}


.feature-description {
  flex: 1;
  text-align: left;
  margin-right: 2px;
}

.feature-cards {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content:start;
  width: 100%;
  gap: 3%;
}

.feature-card {
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
  width: 44%;
  text-align: justify;

 
}


.feature-icon {
  font-size: .8em;
  margin-bottom: 10px;
}

.feature-details {
  text-align: left;
}

.feature-card h3 {
  margin: 0;
  font-size: .8em;
  text-align: justify;
}

.feature-card p {
  font-size: 12px;
  text-align: justify;
}

.landing-page h1{
  font-size: 1em;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.contact-description {
  flex: 1;
  text-align: justify;
  margin-right: 20px;
}

.contact-container ul {
  list-style: none;
  padding: 0;
}

.contact-container li {
  margin-bottom: 10px;
}

.contact-container svg {
  font-size: 1.2em;
  margin-right: 5px;
}

.contact-image {
  flex: 1;
  text-align: right;
}

button  {
  background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
  margin: 3px;
  padding: 10px 15px;
  text-align: center;
  text-transform:none;

  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #decfcf;
  border-radius: 10px;
  display: block;
}

.dev{
  font-size: small;
 
}


}
