
 

/* navbar style start  */

.main-nav {
  width: 100%;
  height: 60px;
  display: grid;
  background-color: black;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   
}

.logo {
  display: grid;
  /* background-color: #3b5998; */

  justify-content: start;
  align-items: center;
}

.menu-link {
  grid-column: 5/7;
 
}

.menu-link ul {
  height: 30px;
  display: flex;
 
  align-items: center;

 
  
}



/* ----------- Grid part ends ----------------- */

.logo h2 {
  
  
  margin: 8px;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}



.menu-link ul li {

  
  
  background-color: rgb(226, 237, 245);
  
  margin: 8px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}






  


.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(7, 1, 1, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgb(194, 194, 228);
  text-decoration: underline;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}





.ham{
    font-size: 18px;
  background-color: rgb(231, 121, 121);
  margin: 10px;
  border-radius: 2px;
  padding: 3px;
  visibility: hidden;
}
/* hero section   */

.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section p {
  font-size: 3rem;
  text-transform: capitalize;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
    
  }

  .mobile-menu-link {
    grid-column: 1/4;
    position: relative;
    z-index: 99;
    background-color: #e8f2ff;
  }

  .mobile-menu-link {
    background-color: rgb(232, 209, 209);
    background-color: transparent;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 0rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

      
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    background-color: #e8f2ff;
    justify-content: space-around;
    
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li{
    width: 80%;
   
    background-color: rgb(236, 224, 208);
  }
  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
    
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
    
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}




@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }


  .ham{
    font-size: 18px;
  background-color: rgb(231, 121, 121);
  margin: 10px;
  border-radius: 2px;
  padding: 3px;
  visibility: visible;
}

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}






@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

  /* hero section  */

  .hero-section h1 {
    font-size: 3.8rem;
  }

  .ham{
    font-size: 18px;
  background-color: rgb(231, 121, 121);
  margin: 10px;
  border-radius: 2px;
  padding: 3px;
  visibility: visible;
}
}