

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(-45deg, #c35f40, #ff68a2, #9bd9f0, #23d5ab);

background-size: 400% 400%;
animation: gradient 45s ease infinite;




}









@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}



